/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    margin: auto;
    background:url(img/background.jpg) repeat;
    background-size: cover;
    background-position: center;
}

#container{
    width: 1086px;
    height: 768px;
    margin: auto;   
}
a:hover{
    color:darkred;
}

h1{
    /* text-indent to hide text */
    text-indent: -9999px;
}
/*HOME*/
#Homecontent{
    width: 1021px;
    height: 671px;
    background: url(img/HomeImage.png) no-repeat;
    background-position: center;
}
#Homeinfo{
    margin-top: 430px;
    margin-right: 145px;
    float: right;
    color: #603813
}
p{
    font-family: ccpenccpen;
    color: #603813;
}
.pg1{
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
}
/*END HOME*/
/*ABOUT*/
#Aboutcontent{
    width: 1021px;
    height: 671px;
    background: url(img/aboutitems.png) no-repeat;
    background-position: center;
}
#Aboutinfo{
    float: right;
    width: 382px;
    color: #603813;
    margin-right: 110px;
    margin-top: 110px;
}
h2{
    font-family: ccpenccpen;
    font-size: 35px;
}
.pg2{
    padding-top: 20px;
    font-size: 22px;
}
/*END ABOUT*/

/*MENU*/
#Menu1{
    width: 1086px;
    height: 671px;
    background:url(img/MENU1.png) no-repeat;
    background-position:top;
    margin-left: -50px;
    background-size: 978px 608px;
    margin-top: 20px;
    
}
#Menu1 h2{
    margin-left: 240px;
    padding-top: 110px;
    font-family:'chawpregular';
    color: white;
    font-size: 34pt;
    width: 313px;
}
#m1items p{
    font-family:'chawpregular';
    color: white;
    font-size: 16pt;
    width: 200px;
    padding-top: 2px;
}
#m1items{
    float: left;
    width: 200px;
    margin-left: 195px;
    padding-top: 20px;
}
#m1prices{
    float: left;
    width: 200px;
    padding-top: 20px;
}
#m1prices p{
    font-family:'chawpregular';
    color: white;
    font-size: 16pt;
    width: 200px;
    padding-top: 2px;

}
#m1prices table{
    margin-left: 30px;
    font-family:'chawpregular';
    font-size: 16pt;
    color: white;
}
#Menu2{
    width: 1086px;
    height: 704px;
    background: url(img/MENU2.png) no-repeat;
    margin-left: -10px;
    background-size: 978px 638px;
    margin-top: 20px;
}
#Menu2 p{
    font-family:'chawpregular';
    color: white;
    font-size: 16pt;
    width: 200px;
    padding-top: 2px;
}
#Menu2 h2{
    margin-left: 145px;
    padding-top: 110px;
    font-family:'chawpregular';
    color: white;
    font-size: 34pt;
    width: 400px;
}
#Menu2 h3{
    margin-left: 160px;
    padding-top: 10px;
    font-family:'chawpregular';
    color: white;
    font-size: 10pt;
    width: 455px; 
}
#m2items1{
    padding-top: 15px;
    float: left;
    margin-left: 135px;
}
#m2items2{
    padding-top: 15px;
    float: left;
}
/*END MENU*/
#EventContent{
    background: url(img/eventBG.png) no-repeat;
    width: 930px;
    height: 691px;
    margin-left: 40px;
    margin-top: 20px;
}

#ContactContent{
    background: url(img/contactPG.png) no-repeat;
    width: 1024px;
    height: 709px;
    margin-left: -30px;
}
#ContactText h2{
    font-family: ccpenccpen;
    color: #754f31;
    width: 200px;
    text-align: center;
    padding-top: 125px;
    margin-left: 645px;
    font-size: 45px;
}
#ContactText p{
    color: #754f31;
    width: 400px;
    margin-left: 565px;
    font-size: 20px;
    padding-top: 10px;
}

#BeanPG{
    width: 1021px;
    height: 671px;
    background: url(img/beansBG.png) no-repeat;
    background-position: center;
}
#Meaza p:hover{ font-size: 0; }
#Meaza p:hover:after {
	content: attr(data-hover);
    font-size: 24px;
    width: 145px;
    display: block;
    margin-left: -22px;
    margin-top: -20px;
}
#Meaza{
    font-size: 26px;
    width: 98px;
    height: 62px;
    padding-top:80px;
    padding-left: 70px;
    text-align: center;
    float: left;
    clear: both;
}

#Las{
    font-size: 26px;
    width: 98px;
    height: 62px;
    padding-top:260px;
    padding-left: 38px;
    text-align: center;
    float: left;
}
#Las p:hover{ font-size: 0; }
#Las p:hover:after {
	content: attr(data-hover);
    font-size: 24px;
    width: 145px;
    display: block;
    margin-left: -22px;
    margin-top: -20px;
}

#El{
    font-size: 26px;
    width: 120px;
    height: 62px;
    padding-top:140px;
    padding-left: 60px;
    text-align: center;
    float: left;
    clear: both;
}
#El p:hover{ font-size: 0; }
#El p:hover:after {
	content: attr(data-hover);
    font-size: 24px;
    width: 145px;
    display: block;
    margin-left: -18px;
    margin-top: -25px;
}

#Nuevo{
    float:left; 
    clear: both;
    font-size: 26px;
    width: 120px;
    height: 62px;
    padding-left: 843px;
    text-align: center;
    margin-top: -450px;
    
}
#Nuevo p:hover{ font-size: 0; }
#Nuevo p:hover:after {
	content: attr(data-hover);
    font-size: 24px;
    width: 145px;
    display: block;
    margin-left: -15px;
    margin-top: 10px;
}

#Kim{
  float:left; 
    clear: both;
    font-size: 26px;
    width: 120px;
    height: 62px;
    padding-left: 710px;
    text-align: center;
    margin-top: -250px;  
}
#Kim p:hover{ font-size: 0; }
#Kim p:hover:after {
	content: attr(data-hover);
    font-size: 24px;
    width: 145px;
    display: block;
    margin-left: -15px;
    margin-top: -20px;
}

#Ramon{
    float:left; 
    clear: both;
    font-size: 26px;
    width: 120px;
    height: 62px;
    padding-left: 845px;
    text-align: center;
    margin-top: -70px;  
}
#Ramon p:hover{ font-size: 0; }
#Ramon p:hover:after {
	content: attr(data-hover);
    font-size: 24px;
    width: 145px;
    display: block;
    margin-left: -10px;
    margin-top: -2px;
}
#beantext{
    font-size: 24px;
    width: 390px;
    padding-left: 330px;
    margin-top: -170px;
    
}
a{
    text-decoration: none;
    color: #603813;
}
/*Nav bar and text*/
nav{
    padding-top: 10px;
    width: 997px;
    height: 137px;
    background:url(img/navbar.png) no-repeat center;
    text-align: center;
}
#block1{
    float: left;
    margin-left: 50px;
}
#block2{
    float: left;
    margin-left: 120px;
}
#block3{
    float: left;
    margin-left: 105px;
    margin-right: 40px;
}
#Home{
    margin-right: 40px;
}
#Drinks{
    margin-right: 20px;
    margin-left: -10px;
}
#Beans{
    margin-right: 25px;
    margin-left: 10px;
}
nav ul{
    display: inline;
}
nav ul li{
    font-family: ccpenccpen;
    display: inline;
    font-size: 25px;
    line-height: 120px;
    text-align: center;
}
/*End of nav bar and text*/
.show {
    font-family: ccpenccpen;
    color: #603813;
    display: none;
    width: 145px;
    text-align: center;
}
/*Embedded fonts*/
@font-face {
    font-family: 'ccpenccpen';
    src: url('fonts/ccpen-webfont.eot');
    src: url('fonts/ccpen-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ccpen-webfont.woff2') format('woff2'),
         url('fonts/ccpen-webfont.woff') format('woff'),
         url('fonts/ccpen-webfont.ttf') format('truetype'),
         url('fonts/ccpen-webfont.svg#ccpenccpen') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chawpregular';
    src: url('fonts/chawp-webfont.eot');
    src: url('fonts/chawp-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chawp-webfont.woff2') format('woff2'),
         url('fonts/chawp-webfont.woff') format('woff'),
         url('fonts/chawp-webfont.ttf') format('truetype'),
         url('fonts/chawp-webfont.svg#chawpregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*end of embedded fonts*/
